name: Docker Image CI

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'README.md'

  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'README.md'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: pischule/go-mention-all-bot:latest
